
<div id="header">
    <div class="name">
            <h1><a href="/">SOCIAL</a></h1>
    </div>
    <div class="links">
            <% if(locals.user){ %>
                <a href="/user/profile/<%= locals.user.id %>"><h3><%= locals.user.name %></h3></a> 
                <a href="/user/log-out"><h5 style="color: grey">Logout</h5></a>
                <% }else { %>
                        <h3><a href="/user/sign-in">Login</a>
                        <a href="/user/sign-up">SignUP</a></h3><% } %>
    </div>
</div>